Repository hjaremko/asciinem, pull requests merged in 2021-01, with the labels that each got.

#30 Generate random login when not provided
  src/client/util.cpp
Labels: client

#29 Added entity and item basic hierarchy
  include/server/domain/armor.hpp
  include/server/domain/entity.hpp
  include/server/domain/item.hpp
  include/server/domain/player.hpp
  include/server/domain/weapon.hpp
  src/server/CMakeLists.txt
  src/server/domain/armor.cpp
  src/server/domain/entity.cpp
  src/server/domain/item.cpp
  src/server/domain/player.cpp
  src/server/domain/weapon.cpp
  test/CMakeLists.txt
  test/server/domain/player_tests.cpp
Labels: server

#31 Implement service layer skeleton, simple move requests and simple client
  cmake/conan.cmake
  include/client/network/asio_network_module.hpp
  include/client/network/interfaces/network_module.hpp
  include/server/db/query_result_type.hpp
  include/server/db/sqlite_connection.hpp
  include/server/domain/game_manager.hpp
  include/server/domain/game_state.hpp
  include/server/domain/player.hpp
  include/server/network/asio_network.hpp
  include/server/network/clock_observer.hpp
  include/server/network/interfaces/network_module.hpp
  include/server/network/server_config.hpp
  include/server/network_service_mediator.hpp
  include/server/serializer.hpp
  include/server/service/game_service.hpp
  include/server/service/request.hpp
  include/server/service/request_serializer.hpp
  src/client/CMakeLists.txt
  src/client/main.cpp
  src/client/network/asio_network_module.cpp
  src/server/CMakeLists.txt
  src/server/main.cpp
  src/server/network/asio_connection.cpp
  src/server/network/asio_manager.cpp
  src/server/network/asio_server.cpp
  test/server/network/listener_tests.cpp
Labels: client, server, zwp

#32 Fix invalid confirmation message validation
  src/client/network/asio_network_module.cpp
  src/server/main.cpp
Labels: bug, client

#34 wip: player and item mappers
  include/server/db/mappers/item_mapper.hpp
  include/server/db/mappers/player_mapper.hpp
  include/server/domain/armor.hpp
  include/server/domain/entity.hpp
  include/server/domain/item.hpp
  include/server/domain/player.hpp
  include/server/domain/weapon.hpp
  src/server/domain/armor.cpp
  src/server/domain/entity.cpp
  src/server/domain/item.cpp
  src/server/domain/player.cpp
  src/server/domain/weapon.cpp
  test/CMakeLists.txt
  test/server/db/mappers/item_mapper_test.cpp
  test/server/db/mappers/player_mapper_test.cpp
  test/server/domain/player_tests.cpp
Labels: server, zwp

#33 Update game manager to use player class
  include/server/domain/entity.hpp
  include/server/domain/game_manager.hpp
  include/server/domain/game_state.hpp
  include/server/domain/player.hpp
  include/server/service/game_service.hpp
  include/server/service/request.hpp
  include/server/service/request_serializer.hpp
  src/client/CMakeLists.txt
  src/client/main.cpp
  src/server/domain/entity.cpp
  src/server/domain/player.cpp
  src/server/network/asio_manager.cpp
Labels: client, server

#35 Model mappers
  include/server/db/mappers/backpack_mapper.hpp
  include/server/db/mappers/item_mapper.hpp
  include/server/db/mappers/player_mapper.hpp
  test/CMakeLists.txt
  test/server/db/mappers/backpack_mapper_test.cpp
Labels: server, zwp

#36 Added money pattern
  include/server/db/mappers/item_mapper.hpp
  include/server/db/mappers/player_mapper.hpp
  include/server/domain/armor.hpp
  include/server/domain/item.hpp
  include/server/domain/player.hpp
  include/server/domain/util/money.hpp
  include/server/domain/weapon.hpp
  include/server/service/game_service.hpp
  src/server/CMakeLists.txt
  src/server/domain/armor.cpp
  src/server/domain/item.cpp
  src/server/domain/player.cpp
  src/server/domain/util/money.cpp
  src/server/domain/weapon.cpp
  test/CMakeLists.txt
  test/server/db/mappers/backpack_mapper_test.cpp
  test/server/db/mappers/item_mapper_test.cpp
  test/server/db/mappers/player_mapper_test.cpp
  test/server/domain/player_tests.cpp
Labels: zwp

#37 Added monster and strategy pattern
  include/server/domain/entity.hpp
  include/server/domain/monster.hpp
  include/server/domain/player.hpp
  include/server/domain/strategies/move_strategy.hpp
  include/server/domain/strategies/random_move_strategy.hpp
  include/server/domain/strategies/still_strategy.hpp
  src/server/CMakeLists.txt
  src/server/domain/monster.cpp
  src/server/domain/player.cpp
  src/server/domain/strategies/random_move_strategy.cpp
  src/server/domain/strategies/still_strategy.cpp
  test/CMakeLists.txt
  test/server/domain/monster_tests.cpp
  test/server/domain/player_tests.cpp
Labels: wp

#39 Implement game view
  include/client/view/consoles/ncurses.hpp
  include/client/view/game_window.hpp
  include/client/view/interfaces/window.hpp
  include/client/view/main_window.hpp
  include/client/view/stats_window.hpp
  include/server/db/mappers/item_mapper.hpp
  include/server/db/mappers/player_mapper.hpp
  include/server/domain/armor.hpp
  include/server/domain/entity.hpp
  include/server/domain/game_manager.hpp
  include/server/domain/game_state.hpp
  include/server/domain/item.hpp
  include/server/domain/monster.hpp
  include/server/domain/player.hpp
  include/server/domain/util/money.hpp
  include/server/domain/weapon.hpp
  include/server/service/game_service.hpp
  src/client/CMakeLists.txt
  src/client/main.cpp
  src/server/domain/item.cpp
  src/server/domain/monster.cpp
  src/server/domain/player.cpp
  src/server/domain/util/money.cpp
  src/server/network/asio_connection.cpp
  src/server/network/asio_listener.cpp
  test/CMakeLists.txt
  test/server/domain/player_tests.cpp
Labels: client

#40 Add find player method and fix tests
  include/server/db/mappers/player_mapper.hpp
  include/server/domain/entity.hpp
  include/server/domain/player.hpp
  src/server/domain/entity.cpp
  src/server/domain/player.cpp
  test/server/db/mappers/backpack_mapper_test.cpp
  test/server/db/mappers/player_mapper_test.cpp
Labels: improvement

#41 Add macOS terminal handler
  include/client/view/consoles/macos_ncurses.hpp
  include/client/view/util.hpp
  include/server/domain/entity.hpp
  include/server/domain/player.hpp
  src/client/main.cpp
Labels: client

#44 Handle deserialization errors
  include/client/network/asio_network_module.hpp
  include/server/domain/entity.hpp
  include/server/domain/player.hpp
  include/server/serializer.hpp
  src/client/main.cpp
  src/client/network/asio_network_module.cpp
Labels: server

#45 Connect players to the database
  include/server/db/mappers/player_mapper.hpp
  include/server/domain/game_manager.hpp
  include/server/service/game_service.hpp
  src/server/CMakeLists.txt
  src/server/network/asio_connection.cpp
Labels: server

#46 Small refactor: game controller, user input enum, event handling
  include/client/controller/game_controller.hpp
  include/client/controller/user_input.hpp
  include/client/view/consoles/macos_ncurses.hpp
  include/client/view/consoles/ncurses.hpp
  include/server/domain/game_state.hpp
  src/client/main.cpp
Labels: zwp

#47 Add monsters to the game
  include/client/view/game_window.hpp
  include/server/domain/game_manager.hpp
  include/server/domain/game_state.hpp
  include/server/domain/monster.hpp
  include/server/network_service_mediator.hpp
  include/server/serializer.hpp
  include/server/service/game_service.hpp
  src/client/CMakeLists.txt
  src/server/domain/strategies/random_move_strategy.cpp
Labels: client

#48 Limit number of monsters on the map
  include/server/domain/game_manager.hpp
  include/server/domain/game_state.hpp
Labels: server

#49 Revert weapon and armor pointer type changes
  include/server/db/mappers/player_mapper.hpp
  include/server/domain/armor.hpp
  include/server/domain/entity.hpp
  include/server/domain/game_state.hpp
  include/server/domain/item.hpp
  include/server/domain/monster.hpp
  include/server/domain/player.hpp
  include/server/domain/util/money.hpp
  include/server/domain/weapon.hpp
  src/server/domain/player.cpp
  test/server/domain/player_tests.cpp
Labels: server

#50 Added max health and health potion
  include/client/controller/user_input.hpp
  include/client/view/stats_window.hpp
  include/server/db/mappers/item_mapper.hpp
  include/server/domain/entity.hpp
  include/server/domain/health_potion.hpp
  include/server/domain/monster.hpp
  include/server/domain/player.hpp
  src/client/CMakeLists.txt
  src/server/CMakeLists.txt
  src/server/domain/entity.cpp
  src/server/domain/health_potion.cpp
  src/server/domain/monster.cpp
  src/server/domain/player.cpp
  test/CMakeLists.txt
  test/server/db/mappers/backpack_mapper_test.cpp
  test/server/db/mappers/item_mapper_test.cpp
  test/server/db/mappers/player_mapper_test.cpp
  test/server/domain/monster_tests.cpp
  test/server/domain/player_tests.cpp
Labels: enhancement

#51 Add location with collision checking to the game manager
  include/client/view/consoles/macos_ncurses.hpp
  include/client/view/consoles/ncurses.hpp
  include/client/view/game_window.hpp
  include/client/view/stats_window.hpp
  include/server/domain/game_manager.hpp
  include/server/domain/game_state.hpp
  include/server/domain/location.hpp
  src/client/CMakeLists.txt
  src/server/domain/collision_checker.cpp
  src/server/domain/location.cpp
  src/server/domain/player.cpp
  src/server/main.cpp
Labels: client, server

#52 Add colored status bars
  include/client/view/consoles/macos_ncurses.hpp
  include/client/view/consoles/ncurses.hpp
  include/client/view/interfaces/window.hpp
  include/client/view/stats_window.hpp
Labels: client

#54 Remove unused CMake targets
  CMakeLists.txt
  test/CMakeLists.txt
  test/constexpr_tests.cpp
  test/tests.cpp
Labels: improvement

#64 Reduce compilation times
  .gitmodules
  CMakeLists.txt
  cmake/client_lib.cmake
  cmake/server_lib.cmake
  include/client/controller/game_controller.hpp
  src/client/CMakeLists.txt
  src/client/main.cpp
  src/server/CMakeLists.txt
  test/CMakeLists.txt
Labels: improvement
